
*.csproj
*.sln
./Library
Library
Library/AnnotationManager
Library/ArtifactDB
Library/Artifacts/00/000449251c964c0170e8be3f595afe46
Library/Artifacts/00/00083b8e067021deb7d3bfeeac54d5c7
Library/ArtifactDB-lock
*.graph
Library/Artifacts/00/002355df1d16f472da7e4e8f3dd7cca5
Library/Artifacts/00/00253a0f2b433bcd1182389a94160911
Library/Artifacts/00/00355a9276721decd5c51ffe1ed37f9e
Library/Artifacts/00/00342a1f96d4b2d1af4890865196315e
Library/Artifacts/00/004779a5e5d4b92873e9dadcc338dadc
Library/Artifacts/00/008aa1ccf2e6d32c0afc90af59be1dd2
Temp/workerlic
Temp/PropertyDatabase_2066312223
Temp/FSTimeGet-4cb1add8404ef02449aaec8e8997bd1f
*.backup
*.json
*.json
*.log
*.asset
*.json
*.cs
*.cache
*.bin
*.st
*.pdb
*.json
*.catalog
*.json
*.asset
Temp/FSTimeGet-05f281bbad2dfc546b5103ffca4b8eaf
*.asset
ProjectSettings/TagManager.asset
*.dwlt
*.settings
*.asset
*.json
*.db
*.dll
*.meta
*.json
*.md5
*.asmdef
*.md
*.afphoto
*.png
*.defines
*.mdb
*.gif
*.psd
*.xml
*.unity
*.prefab
*.signal
*.mat
*.mp3
*.svg
*.ai
*.g
*.release
*.mp4
*.po
*.api
*.mm
*.uxml
*.uss
*.fbx
*.playable
Library/PackageCache/com.unity.mathematics@1.2.6/Unity.Mathematics/Noise/LICENSE
*.txt
*.ModuleCompilationTrigger
*.dylib
*.preset
*.anim
*.psb
*.controller
*.spriteLib
*.traceevents
*.rsp
*.plist
*.a
Library/PackageCache/com.unity.2d.animation@7.0.6/Editor/SkinningModule/Lib/x86_64/BoundedBiharmonicWeightsModule.bundle/Contents/_CodeSignature/CodeResources
*.bhc
*.mvfrm
Library/PackageManager/ProjectCache
Library/SourceAssetDB
Temp/UnityLockfile
Temp/PropertyDatabase_1265138678
Temp/FSTimeGet-ff638e0a42615ad469420e419de72105
*.asset
*.asset
*.json
Library/PackageCache/com.unity.burst@1.6.6/.signature
*.lib
Library/PackageCache/com.unity.burst@1.6.6/.Runtime/hostlin/dsymutil
Library/PackageCache/com.unity.burst@1.6.6/.Runtime/hostlin/lld
Library/PackageCache/com.unity.burst@1.6.6/.Runtime/hostlin/llvm-lipo
Library/PackageCache/com.unity.burst@1.6.6/.Runtime/hostmac/lld
*.exe
*.exe
*.asmref
*.asset
*.json
*.json
Library/SourceAssetDB-lock
Library/ScriptMapper
Library/ShaderCache/EditorEncounteredVariants
*.yml
*.asset
*.json
Packages
Packages/manifest.json
Packages/packages-lock.json
ProjectSettings/TagManager.asset
*.json
Packages/manifest.json
Packages/packages-lock.json
*.json
ProjectSettings/TagManager.asset
*.asset
